// CustomStyles.less
.customToolbarSpace {
  margin-right: +220px; // 调整为你需要的值
}

.mstextlayer{
  height: 22px;
  width: 28px;
  font-family:  PingFangSC;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0,0,0,0.88);
  line-height: 22px;
}

.mslayergroup{
  height: 32px;
  width: 60px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 6px;
}

.secondaryButton {
  position: absolute;
  left: 16px;
  top: 5px;
  width: 28px;
  height: 22px;
  opacity: 1;
  font-family: 'PingFang SC';
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.88);
}

.queryButton2 {
  /* General/Button/Primary/Light/Default */
  position: absolute;
  left: 833px;
  top: 0px;
  width: 60px;
  height: 32px;
  opacity: 1;
  color: black;
}

.queryBasic {
  /* 编组 16 */

  position: absolute;
  left: 280px;
  top: 132px;
  width: 1136px;
  height: 80px;
  opacity: 1;

}
.basic {
  /* 编组 16 */

  position: absolute;
  left: 280px;
  top: 132px;
  width: 1136px;
  height: 80px;
  opacity: 1;

}


